/* Importando as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Fonte Roboto para o corpo do texto */
    margin: 0;
    background-color: #141414; /* Fundo escuro, como muitos sites modernos */
    color: #f0f0f0; /* Texto claro para contraste */
}

header {
    font-family: 'Rajdhani', sans-serif; /* Fonte Rajdhani para o cabeçalho */
    background-color: #1db954; /* Um tom de verde inspirado no Loki */
    color: #000; /* Texto preto para destacar no verde */
    padding: 30px 20px; /* Aumento do padding vertical */
    text-align: center;
}

header h1 {
    font-size: 2.0em; /* Diminuindo um pouco o tamanho da fonte */
}

main {
    padding: 20px;
}

main h2 {
    font-family: 'Rajdhani', sans-serif; /* Fonte Rajdhani para os subtítulos */
    color: #1db954; /* Destaque em verde para o título da seção */
}

.banner {
    background-image: url('images/banner_loki.jpg'); /* Coloque aqui o link ou caminho para uma imagem do Loki ou do multiverso */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente para o texto */
    padding: 20px;
    border-radius: 10px;
}

.banner h2 {
    font-family:
